.MenuLink {
  color: whitesmoke;
  margin-bottom: 15px;
  font-size: 30px;
  text-decoration: none;
}

.MenuLink .active {
  color: lightpink;
  border-bottom: 3px solid royalblue;
  font-weight: 700;
  font-size: xx-large;
  text-decoration: dashed;
}

.MenuLink:hover {
  color: lightpink;
  /* border-bottom: 3px solid pink; */
  font-weight: 700;
  font-size: 30px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.1s;
}
